extends layout

block content
      p= text
      i= hint
      div
        a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        a(href=`/`) Next question
      form(action='/goodbye', method='post')
        button(type='submit') Clear cookie
