extends layout

block content
  h2 Welcome #{name}!
      p= text
      i= hint
      div
        a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
      form(action='/goodbye', method='post')
        button(type='submit') Clear cookie
